---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from "@vercel/speed-insights/astro"


interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content="dependency, review, diff, npm, crates.io, rust, javascript, typescript, package, compare" />


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://diffpack.io/" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/android-chrome-512x512.png" />

<!-- Vercel -->
<Analytics/>
<SpeedInsights/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://diffpack.io/" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/android-chrome-512x512.png" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

<script src="../utils/theme.ts"></script>
<ClientRouter />
